
<section class="cover">
<div class="magazine">


<% unless current_user %>

<%= link_to "Sign in with Facebook", "/auth/facebook/callback" %>

<% else %>

<%= link_to "logout", destroy_user_session_path, method: :destroy %> 

<% end %>



</div>

</section>
