
<section class="cover">
<div class="magazine magazineJune">

<div class="thisMonth">
    <div class="grid-y ydate" data-sticky-container>
    <form>
        <fieldset class="radio-group">
        <legend class="monthName">June</legend>

<ul><li>
<span></span>
            <div class="dayOfMonth has-tip tip-right fri" alt="Things went down!">                                
                <label for="one"><b class="coverDay">1</b><span><sub class="weekDay">Fri</sub></span>
                </label>
                <input type="radio" name="dayOfMonth" value="one" id="y1" />  
            </div>
<div class="comms">
<i class="fi-at-sign"></i>
<i class="fi-comment-quotes"></i>
</div>
</li><li>
<span></span>
            <div class="dayOfMonth has-tip tip-right sat">
              <label for="two"><b class="coverDay">2</b><span><sub class="weekDay">Sat</sub></span></label>
              <input type="radio" name="dayOfMonth" value="two" id="y2" />
            </div>
<div class="comms">
<i class="fi-at-sign"></i>
<i class="fi-comment-quotes"></i>
</div>
</li><li>
<span></span>
            <div class="dayOfMonth has-tip tip-right sun">
              <label for="three"><b class="coverDay">3</b><span><sub class="weekDay">Sun</sub></span></label>
              <input type="radio" name="dayOfMonth" value="three" id="y3" />
            </div>
<div class="comms">
<i class="fi-at-sign"></i>
<i class="fi-comment-quotes"></i>
</div>
</li><li>
<span></span>
            <div class="dayOfMonth has-tip tip-right mon">
              <label for="four"><b class="coverDay">4</b><span><sub class="weekDay">Mon</sub></span></label>
              <input type="radio" name="dayOfMonth" value="four" id="y4" />
            </div>
<div class="comms">
<i class="fi-at-sign"></i>
<i class="fi-comment-quotes"></i>
</div>
</li><li>
<span></span>
            <div class="dayOfMonth has-tip tip-right tue">
              <label for="five"><b class="coverDay">5</b><span><sub class="weekDay">Tue</sub></span></label>
              <input type="radio" name="dayOfMonth" value="five" id="y5" />
            </div>
<div class="comms">
<i class="fi-at-sign"></i>
<i class="fi-comment-quotes"></i>
</div>
</li><li>
<span></span>
            <div class="dayOfMonth has-tip tip-right wed">           
              <label for="six"><b class="coverDay">6</b><span><sub class="weekDay">Wed</sub></span></label>
              <input type="radio" name="dayOfMonth" value="six" id="y6" />
            </div>
<div class="comms">
<i class="fi-at-sign"></i>
<i class="fi-comment-quotes"></i>
</div>
</li><li>
<span></span>
            <div class="dayOfMonth has-tip tip-right thu">
              <label for="seven"><b class="coverDay">7</b><span><sub class="weekDay">Thu</sub></span></label>
              <input type="radio" name="dayOfMonth" value="seven" id="y7" />
            </div>
<div class="comms">
<i class="fi-at-sign"></i>
<i class="fi-comment-quotes"></i>
</div>
</li><li>
<span></span>
            
            <div class="dayOfMonth has-tip tip-right fri">
              <label for="eight"><b class="coverDay">8</b><span><sub class="weekDay">Fri</sub></span></label>
              <input type="radio" name="dayOfMonth" value="eight" id="y8" />            
            </div>
<div class="comms">
<i class="fi-at-sign"></i>
<i class="fi-comment-quotes"></i>
</div>
</li><li>
<span></span>
            <div class="dayOfMonth has-tip tip-right sat">
              <label for="nine"><b class="coverDay">9</b><span><sub class="weekDay">Sat</sub></span></label>
              <input type="radio" name="dayOfMonth" value="nine" id="y9" />
            </div>
<div class="comms">
<i class="fi-at-sign"></i>
<i class="fi-comment-quotes"></i>
</div>
</li><li>
<span></span>
            <div class="dayOfMonth has-tip tip-right sun">
              <label for="ten"><b class="coverDay coverDaydd">10</b><span><sub class="weekDay">Sun</sub></span></label>
              <input type="radio" name="dayOfMonth" value="ten" id="y10" />
            </div>
<div class="comms">
<i class="fi-at-sign"></i>
<i class="fi-comment-quotes"></i>
</div>
</li><li>
<span></span>
            <div class="dayOfMonth has-tip tip-right mon">
              <label for="eleven"><b class="coverDay coverDaydd">11</b><span><sub class="weekDay">Mon</sub></span></label>
              <input type="radio" name="dayOfMonth" value="eleven" id="y11" />
            </div>
<div class="comms">
<i class="fi-at-sign"></i>
<i class="fi-comment-quotes"></i>
</div>
</li><li>
<span></span>
            <div class="dayOfMonth has-tip tip-right tue">
              <label for="twelve"><b class="coverDay coverDaydd">12</b><span><sub class="weekDay">Tue</sub></span></label>
              <input type="radio" name="dayOfMonth" value="twelve" id="y12" />
            </div>
<div class="comms">
<i class="fi-at-sign"></i>
<i class="fi-comment-quotes"></i>
</div>
</li><li>
<span></span>
            <div class="dayOfMonth has-tip tip-right wed">
              <label for="thirdteen"><b class="coverDay coverDaydd">13</b><span><sub class="weekDay">Wed</sub></span></label>
              <input type="radio" name="dayOfMonth" value="thirdteen" id="y13" />
            </div>
<div class="comms">
<i class="fi-at-sign"></i>
<i class="fi-comment-quotes"></i>
</div>
</li><li>
<span></span>
            <div class="dayOfMonth has-tip tip-right thu">            
              <label for="fourteen"><b class="coverDay coverDaydd">14</b><span><sub class="weekDay">Thu</sub></span></label>
              <input type="radio" name="dayOfMonth" value="fourteen" id="y14" />
            </div>
<div class="comms">
<i class="fi-at-sign"></i>
<i class="fi-comment-quotes"></i>
</div>
</li><li>
<span></span>
            <div class="dayOfMonth has-tip tip-right fri">            
              <label for="fifteen"><b class="coverDay coverDaydd">15</b><span><sub class="weekDay">Fri</sub></span></label>
              <input type="radio" name="dayOfMonth" value="fifteen" id="y15" />
            </div>
<div class="comms">
<i class="fi-at-sign"></i>

<i class="fi-comment-quotes"></i>
</div>
</li><li>
<span></span>
            <div class="dayOfMonth has-tip tip-right sat">
              <label for="sixteen"><b class="coverDay coverDaydd">16</b><span><sub class="weekDay">Sat</sub></span></label>
              <input type="radio" name="dayOfMonth" value="sixteen" id="y16" />
            </div>
<div class="comms">
<i class="fi-at-sign"></i>
<i class="fi-comment-quotes"></i>
</div>
</li><li>
<span></span>
            <div class="dayOfMonth has-tip tip-right sun">            
              <label for="seventeen"><b class="coverDay coverDaydd">17</b><span><sub class="weekDay">Sun</sub></span></label>
              <input type="radio" name="dayOfMonth" value="seventeen" id="y17" />
            </div>
<div class="comms">
<i class="fi-at-sign"></i>
<i class="fi-comment-quotes"></i>
</div>
</li><li>
<span></span>
            <div class="dayOfMonth has-tip tip-right mon">            
              <label for="eighteen"><b class="coverDay coverDaydd">18</b><span><sub class="weekDay">Mon</sub></span></label>
              <input type="radio" name="dayOfMonth" value="eighteen" id="y18" />
            </div>
<div class="comms">
<i class="fi-at-sign"></i>
<i class="fi-comment-quotes"></i>
</div>
</li><li>
<span></span>
            <div class="dayOfMonth has-tip tip-right tue">
              <label for="nineteen"><b class="coverDay coverDaydd">19</b><span><sub class="weekDay">Tue</sub></span></label>
              <input type="radio" name="dayOfMonth" value="nineteen" id="y19" />
            </div>
<div class="comms">
<i class="fi-at-sign"></i>
<i class="fi-comment-quotes"></i>
</div>
</li><li>
<span></span>
            <div class="dayOfMonth has-tip tip-right wed">            
              <label for="twenty"><b class="coverDay coverDaydd">20</b><span><sub class="weekDay">Wed</sub></span></label>
              <input type="radio" name="dayOfMonth" value="twenty" id="y20" />
            </div>
<div class="comms">
<i class="fi-at-sign"></i>
<i class="fi-comment-quotes"></i>
</div>
</li><li>
<span></span>
            <div class="dayOfMonth has-tip tip-right thu">            
              <label for="twentyone"><b class="coverDay coverDaydd">21</b><span><sub class="weekDay">Thu</sub></span></label>
              <input type="radio" name="dayOfMonth" value="twentyone" id="y21" />
            </div>
<div class="comms">
<i class="fi-at-sign"></i>
<i class="fi-comment-quotes"></i>
</div>
</li><li>
<span></span>
            <div class="dayOfMonth has-tip tip-right fri">
              <label for="twentytwo"><b class="coverDay coverDaydd">22</b><span><sub class="weekDay">Fri</sub></span></label>
              <input type="radio" name="dayOfMonth" value="twentysix" id="y22" />
            </div>
<div class="comms">
<i class="fi-at-sign"></i>
<i class="fi-comment-quotes"></i>
</div>
</li><li>
<span></span>
            <div class="dayOfMonth has-tip tip-right sat">
              <label for="twentythree"><b class="coverDay coverDaydd">23</b><span><sub class="weekDay">Sat</sub></span></label>
              <input type="radio" name="dayOfMonth" value="twentyfive" id="y23" />
            </div>
<div class="comms">
<i class="fi-at-sign"></i>
<i class="fi-comment-quotes"></i>
</div>
</li><li>
<span></span>
            <div class="dayOfMonth has-tip tip-right sun">            
              <label for="twentyfour"><b class="coverDay coverDaydd">24</b><span><sub class="weekDay">Sun</sub></span></label>
              <input type="radio" name="dayOfMonth" value="twentyfour" id="y24" />
            </div>
<div class="comms">
<i class="fi-at-sign"></i>
<i class="fi-comment-quotes"></i>
</div>
</li><li>
<span></span>
            <div class="dayOfMonth has-tip tip-right mon">
              <label for="twentyfive"><b class="coverDay coverDaydd">25</b><span><sub class="weekDay">Mon</sub></span></label>
              <input type="radio" name="dayOfMonth" value="twentyfive" id="y25" />
            </div>
<div class="comms">
<i class="fi-at-sign"></i>
<i class="fi-comment-quotes"></i>
</div>
</li><li>
<span></span>
            <div class="dayOfMonth has-tip tip-right tue">
              <label for="twentysix"><b class="coverDay coverDaydd">26</b><span><sub class="weekDay">Tue</sub></span></label>
              <input type="radio" name="dayOfMonth" value="twentysix" id="y26" />
            </div>
<div class="comms">
<i class="fi-at-sign"></i>
<i class="fi-comment-quotes"></i>
</div>
</li><li>
<span></span>
            <div class="dayOfMonth has-tip tip-right wed">            
              <label for="twentyseven"><b class="coverDay coverDaydd">27</b><span><sub class="weekDay">Wed</sub></span></label>
              <input type="radio" name="dayOfMonth" value="twentyseven" id="y27" />
            </div>
<div class="comms">
<i class="fi-at-sign"></i>
<i class="fi-comment-quotes"></i>
</div>
</li><li>
<span></span>
            <div class="dayOfMonth has-tip tip-right thu">            
              <label for="twentyeight"><b class="coverDay coverDaydd">28</b><span><sub class="weekDay">Thu</sub></span></label>
              <input type="radio" name="dayOfMonth" value="twentyeight" id="y28" />
            </div>
<div class="comms">
<i class="fi-at-sign"></i>
<i class="fi-comment-quotes"></i>
</div>
</li><li>
<span></span>
            <div class="dayOfMonth has-tip tip-right fri">
              <label for="twentynine"><b class="coverDay coverDaydd">29</b><span><sub class="weekDay">Fri</sub></span></label>
              <input type="radio" name="dayOfMonth" value="twentynine" id="y29" />
            </div>
<div class="comms">
<i class="fi-at-sign"></i>
<i class="fi-comment-quotes"></i>
</div>
</li><li>
<span></span>
            <div class="dayOfMonth has-tip tip-right sat">            
              <label for="thirty"><b class="coverDay coverDaydd">30</b><span><sub class="weekDay">Sat</sub></span></label>
              <input type="radio" name="dayOfMonth" value="thirty" id="y30" />
            </div>
<div class="comms">
<i class="fi-at-sign"></i>
<i class="fi-comment-quotes"></i>
</div>
</li></ul>
            </fieldset class="radio-group">
        </form>
    </div>
</div>


<div class="grid-x" style="border: 1px solid green;">
      <div class="cell large-8">
            <div class="logoImg">
              <img src="../assets/love-your-skin-magazine-660x182.png" />
            </div>
</div>
  <div class="coverHair">
    <p class="coverHair--link">Repair**<br/> 
    <span class="coverHair--link">Damaged hair</span><br/>
    <span class="coverHair--link">In just <br/>5 washes.</span>
    </p>
  </div>


    </div>
    

  <div class="coverBeauty">
              <article class="coverBeauty--article">
                <p class="coverBeauty--tip">
                
                <span class="coverBeauty--bigWord2"> Beauty!</span><br/> 
                <span class="coverBeauty--wording1"><s>Cheats</s>!</span><br/>  
                
                <span class="coverBeauty--wordinga">10-TIPS-FOR-A</span><br/>
                
                <span class="coverBeauty--wow">WOW</span><br/>  
                
                <span class="coverBeauty--wording">New You</span>  
                
                
              </p>
            </article>
  </div>










  <div class="coverMembers" >
            <article class="coverMembers--article">
              <p class="coverMembers-p">
                <span class="coverMembers--bigNum">13</span> 
                <span class="coverMembers--wording">Surprising</span><br/>  
                <span class="coverMembers--wording">reasons to</span></br/>  
                <span class="coverMembers--wording"> become a <br/>premium member.</span>  
              </p>
            </article>
  </div>

  <div class="coverSpace">
                  <article class="coverSpace--article">
                    <p class="coverSpace--tip">
                      <span class="coverSpace--bigWord">Living</span><br/> 
                      <span class="coverSpace--wording">Space!</span><br/>  
                    </p>
                  </article>
  </div>

  <div class="coverCities">
                  <article class="coverCities--article"
                    <p class="coverCities--tip">
                      <span class="coverCities--bigWord">Must SEE</span><br/> 
                      <span class="coverCities--bigWord">cities</span><br/> 
                      <span class="coverCities--bigWord">in Africa</span><br/> 
                    </p>
                  </article>
  </div>
  <div class="coverBusiness">
                  <article class="coverBusiness--article">
                    <p class="coverBusiness--tip plate">
                      <span class="coverBusiness--bigWord shadow text1">Six</span><br/> 
                      <span class="coverBusiness--word shadow text2">UNBREAKABLE</span><br/>  
                      <span class="coverBusiness--wording shadow text3">Business Rules</span><br/>  

                    </p>
                  </article>
  </div>

  <div class="coverSocial">
                  <article class="coverSocial--article">
                    <p class="coverSocial--tip">
                      <span class="coverSocial--bigWord">Deadliest</span><br/> 
                      <span class="coverSocial--wording">Mistakes</span><br/>  
                      <span class="coverSocial--wording">EVER!</span><br/>  
                      <span class="coverSocial--media">Social Media</span><br/>  
                    </p>
                    </article>
  </div>

  <div class="coverInfo">
                    <article class="coverInfo-article">
                    <p class="coverInfo--tip">
                      <span class="coverInfo--bigWord">50 INFO</span><br/> 
                      <span class="coverInfo--wording">Sources on</span><br/>  
                      <span class="coverInfo--wording">The Internet!</span><br/>  
                    </p>
                    </article>
  </div>



  <div class="coverFood">
                  <article class="coverFood--article border">
                    <p class="coverFood--tip inner-cutout knockout">
                      <span class="coverFood--bigWord">FOOD</span><br/> 
                      <span class="coverFood--wording">+</span><br/>  
                      <span class="coverFood--wording">Nutrition</span><br/>  
                      <span class="coverFood--wording">Life Changing <s class="coverFood--greenline">Organic</s> Meals!</span><br/>  
                    </p>
                  </article>
  </div>


  <div class="coverTech">
                    <article class="coverTech--article">
                    <p class="coverTech--tip">
                      <span class="coverTech--bigWord">CUTTING EDGE</span><br/> 
                      <span class="coverTech--wording">GADGETS & APPS!</span><br/>  
                    </p>
                    </article>
  </div>


  <div class="coverBook">
                  <article class="coverBook--article">
                    <p class="coverBook--tip">
                      <span class="coverBook--bigWord">BOOKS,</span><br/> 
                      <span class="coverBook--wording">eBooks,</span><br/>  
                      <span class="coverBook--wording">Audio Books!</span><br/>  
                    </p>
                  </article>
  </div>


  <div class="coverLeisure">
                  <article class="coverLeisure--article">
                    <p class="coverLeisure--tip">
                      <span class="coverLeisure--bigWord">The Great</span><br/> 
                      <span class="coverLeisure--wording">Green Outdoor</span><br/>  
                      <span class="coverLeisure--wording">Adventures</span><br/>
                    </p>
                  </article>  
</div>

  </div>

</section>
