<div class="aprilCalendar">

          <!--input type="text" min="0" max="11" step="1" class="aprilMonth"/-->
          <input type="range" list="aprilMonth" id="aprilMonth" class="aprilMonth" name="thisApril" min="86400000" max="2592000000" step="86400000" value="" />
          
          <label for="aprilMonth"><span id="aprTracker"></span></label>    
          <datalist id="aprilList">
            <option value="1" label="April 1st">
            <option value="2" label="April 2nd">
            <option value="3" label="April 3rd">
            <option value="4" label="April 4th">
            <option value="5" label="April 5th">
            <option value="6" label="April 6th">
            <option value="7" label="April 7th">
            <option value="8" label="April 8th">
            <option value="9" label="April 9th">
            <option value="10" label="April 10th">
            <option value="11" label="April 11th">
            <option value="12" label="April 12th">
            <option value="13" label="April 13th">
            <option value="14" label="April 14th">
            <option value="15" label="April 15th">
            <option value="16" label="April 16th">
            <option value="17" label="April 17th">
            <option value="18" label="April 18th">
            <option value="19" label="April 19th">
            <option value="20" label="April 20th">
            <option value="21" label="April 21st">
            <option value="22" label="April 22nd">
            <option value="23" label="April 23rd">
            <option value="24" label="April 24th">
            <option value="25" label="April 25th">
            <option value="26" label="April 26th">
            <option value="27" label="April 27th">
            <option value="28" label="April 28th">
            <option value="29" label="April 29th">
            <option value="30" label="April 30th">
            
          </datalist>   

    </div>

