<div class="augustCalendar">

          <!--input type="text" min="0" max="11" step="1" class=" augustMonth"/-->
          <input type="range" list="augustMonth" id="augustMonth" class=" augustMonth" name="thisAugust" min="86400000" max="2592000000" step="86400000" value="" />
          
          <label for=" augustMonth"><span id="augTracker"></span></label>    
          <datalist id=" augustList">
            <option value="1" label=" August 1st">
            <option value="2" label="August 2nd">
            <option value="3" label="August 3rd">
            <option value="4" label="August 4th">
            <option value="5" label="August 5th">
            <option value="6" label="August 6th">
            <option value="7" label="August 7th">
            <option value="8" label="August 8th">
            <option value="9" label="August 9th">
            <option value="10" label="August 10th">
            <option value="11" label="August 11th">
            <option value="12" label="August 12th">
            <option value="13" label="August 13th">
            <option value="14" label="August 14th">
            <option value="15" label="August 15th">
            <option value="16" label="August 16th">
            <option value="17" label="August 17th">
            <option value="18" label="August 18th">
            <option value="19" label="August 19th">
            <option value="20" label="August 20th">
            <option value="21" label="August 21st">
            <option value="22" label="August 22nd">
            <option value="23" label="August 23rd">
            <option value="24" label="August 24th">
            <option value="25" label="August 25th">
            <option value="26" label="August 26th">
            <option value="27" label="August 27th">
            <option value="28" label="August 28th">
            <option value="29" label="August 29th">
            <option value="30" label="August 30th">
            <option value="30" label="August 31st">
            
          </datalist>   

    </div>

