<div class="decemberCalendar">

          <!--input type="text" min="0" max="11" step="1" class=" decemberMonth"/-->
          <input type="range" list="decemberMonth" id="decemberMonth" class=" decemberMonth" name="thisDecember" min="86400000" max="2592000000" step="86400000" value="" />
          
          <label for=" decemberMonth"><span id="decTracker"></span></label>    
          <datalist id=" decemberList">
            <option value="1" label=" December 1st">
            <option value="2" label="December 2nd">
            <option value="3" label="December 3rd">
            <option value="4" label="December 4th">
            <option value="5" label="December 5th">
            <option value="6" label="December 6th">
            <option value="7" label="December 7th">
            <option value="8" label="December 8th">
            <option value="9" label="December 9th">
            <option value="10" label="December 10th">
            <option value="11" label="December 11th">
            <option value="12" label="December 12th">
            <option value="13" label="December 13th">
            <option value="14" label="December 14th">
            <option value="15" label="December 15th">
            <option value="16" label="December 16th">
            <option value="17" label="December 17th">
            <option value="18" label="December 18th">
            <option value="19" label="December 19th">
            <option value="20" label="December 20th">
            <option value="21" label="December 21st">
            <option value="22" label="December 22nd">
            <option value="23" label="December 23rd">
            <option value="24" label="December 24th">
            <option value="25" label="December 25th">
            <option value="26" label="December 26th">
            <option value="27" label="December 27th">
            <option value="28" label="December 28th">
            <option value="29" label="December 29th">
            <option value="30" label="December 30th">
            <option value="30" label="December 31st">
            
          </datalist>   

    </div>

