<div class="februaryCalendar">

          <!--input type="text" min="0" max="11" step="1" class=" februaryMonth"/-->
          <input type="range" list="februaryMonth" id="februaryMonth" class=" februaryMonth" name="thisFebruary" min="86400000" max="2419200000" step="86400000" value="" />
          
          <label for=" februaryMonth"><span id="febTracker"></span></label>    
          <datalist id=" februaryList">
            <option value="1" label=" February 1st">
            <option value="2" label="February 2nd">
            <option value="3" label="February 3rd">
            <option value="4" label="February 4th">
            <option value="5" label="February 5th">
            <option value="6" label="February 6th">
            <option value="7" label="February 7th">
            <option value="8" label="February 8th">
            <option value="9" label="February 9th">
            <option value="10" label="February 10th">
            <option value="11" label="February 11th">
            <option value="12" label="February 12th">
            <option value="13" label="February 13th">
            <option value="14" label="February 14th">
            <option value="15" label="February 15th">
            <option value="16" label="February 16th">
            <option value="17" label="February 17th">
            <option value="18" label="February 18th">
            <option value="19" label="February 19th">
            <option value="20" label="February 20th">
            <option value="21" label="February 21st">
            <option value="22" label="February 22nd">
            <option value="23" label="February 23rd">
            <option value="24" label="February 24th">
            <option value="25" label="February 25th">
            <option value="26" label="February 26th">
            <option value="27" label="February 27th">
            <option value="28" label="February 28th">

            
          </datalist>   

    </div>

