<div class="solarCalendar">

          <!--input type="text" min="0" max="11" step="1" class="behindSolarYear"/-->
          <input type="range" list="solarYear" id="thisYear" class="solarYeaRange" name="thisYear" min="86400000" max="31536000000" step="86400000" value="" />
          <datalist id="solarYear">
            <option value="0" label="Jan">
            <option value="1" label="Feb">
            <option value="2" label="Mar">
            <option value="3" label="Apr">
            <option value="4" label="May">
            <option value="5" label="Jun">
            <option value="6" label="Jul">
            <option value="7" label="Aug">
            <option value="8" label="Sep">
            <option value="9" label="Oct">
            <option value="10" label="Nov">
            <option value="11" label="Dec">
          </datalist>   


          <label for="thisYear"><span id="tracker"></span></label>    

    </div>

