<div class="julyCalendar">

          <!--input type="text" min="0" max="11" step="1" class=" julyMonth"/-->
          <input type="range" list="julyMonth" id="julyMonth" class=" julyMonth" name="thisJuly" min="86400000" max="2592000000" step="86400000" value="" />
          
          <label for=" julyMonth"><span id="julTracker"></span></label>    
          <datalist id=" julyList">
            <option value="1" label=" July 1st">
            <option value="2" label="July 2nd">
            <option value="3" label="July 3rd">
            <option value="4" label="July 4th">
            <option value="5" label="July 5th">
            <option value="6" label="July 6th">
            <option value="7" label="July 7th">
            <option value="8" label="July 8th">
            <option value="9" label="July 9th">
            <option value="10" label="July 10th">
            <option value="11" label="July 11th">
            <option value="12" label="July 12th">
            <option value="13" label="July 13th">
            <option value="14" label="July 14th">
            <option value="15" label="July 15th">
            <option value="16" label="July 16th">
            <option value="17" label="July 17th">
            <option value="18" label="July 18th">
            <option value="19" label="July 19th">
            <option value="20" label="July 20th">
            <option value="21" label="July 21st">
            <option value="22" label="July 22nd">
            <option value="23" label="July 23rd">
            <option value="24" label="July 24th">
            <option value="25" label="July 25th">
            <option value="26" label="July 26th">
            <option value="27" label="July 27th">
            <option value="28" label="July 28th">
            <option value="29" label="July 29th">
            <option value="30" label="July 30th">
            <option value="30" label="July 31st">
            
          </datalist>   

    </div>

