<div class="juneCalendar">

          <!--input type="text" min="0" max="11" step="1" class=" juneMonth"/-->
          <input type="range" list="juneMonth" id="juneMonth" class=" juneMonth" name="thisJune" min="86400000" max="2592000000" step="86400000" value="" />
          
          <label for=" juneMonth"><span id="junTracker"></span></label>    
          <datalist id=" juneList">
            <option value="1" label=" June 1st">
            <option value="2" label="June 2nd">
            <option value="3" label="June 3rd">
            <option value="4" label="June 4th">
            <option value="5" label="June 5th">
            <option value="6" label="June 6th">
            <option value="7" label="June 7th">
            <option value="8" label="June 8th">
            <option value="9" label="June 9th">
            <option value="10" label="June 10th">
            <option value="11" label="June 11th">
            <option value="12" label="June 12th">
            <option value="13" label="June 13th">
            <option value="14" label="June 14th">
            <option value="15" label="June 15th">
            <option value="16" label="June 16th">
            <option value="17" label="June 17th">
            <option value="18" label="June 18th">
            <option value="19" label="June 19th">
            <option value="20" label="June 20th">
            <option value="21" label="June 21st">
            <option value="22" label="June 22nd">
            <option value="23" label="June 23rd">
            <option value="24" label="June 24th">
            <option value="25" label="June 25th">
            <option value="26" label="June 26th">
            <option value="27" label="June 27th">
            <option value="28" label="June 28th">
            <option value="29" label="June 29th">
            <option value="30" label="June 30th">
            <option value="30" label="June 31st">
            
          </datalist>   

    </div>

