<div class="marchCalendar">

          <!--input type="text" min="0" max="11" step="1" class=" marchMonth"/-->
          <input type="range" list="marchMonth" id="marchMonth" class=" marchMonth" name="thisMarch" min="86400000" max="2592000000" step="86400000" value="" />
          
          <label for=" marchMonth"><span id="marTracker"></span></label>    
          <datalist id=" marchList">
            <option value="1" label=" March 1st">
            <option value="2" label="March 2nd">
            <option value="3" label="March 3rd">
            <option value="4" label="March 4th">
            <option value="5" label="March 5th">
            <option value="6" label="March 6th">
            <option value="7" label="March 7th">
            <option value="8" label="March 8th">
            <option value="9" label="March 9th">
            <option value="10" label="March 10th">
            <option value="11" label="March 11th">
            <option value="12" label="March 12th">
            <option value="13" label="March 13th">
            <option value="14" label="March 14th">
            <option value="15" label="March 15th">
            <option value="16" label="March 16th">
            <option value="17" label="March 17th">
            <option value="18" label="March 18th">
            <option value="19" label="March 19th">
            <option value="20" label="March 20th">
            <option value="21" label="March 21st">
            <option value="22" label="March 22nd">
            <option value="23" label="March 23rd">
            <option value="24" label="March 24th">
            <option value="25" label="March 25th">
            <option value="26" label="March 26th">
            <option value="27" label="March 27th">
            <option value="28" label="March 28th">
            <option value="29" label="March 29th">
            <option value="30" label="March 30th">
            <option value="30" label="March 31st">
            
          </datalist>   

    </div>

