<div class="mayCalendar">

          <!--input type="text" min="0" max="11" step="1" class=" mayMonth"/-->
          <input type="range" list="mayMonth" id="mayMonth" class=" mayMonth" name="thisMay" min="86400000" max="2592000000" step="86400000" value="" />
          
          <label for=" mayMonth"><span id="mayTracker"></span></label>    
          <datalist id=" mayList">
            <option value="1" label="May 1st">
            <option value="2" label="May 2nd">
            <option value="3" label="May 3rd">
            <option value="4" label="May 4th">
            <option value="5" label="May 5th">
            <option value="6" label="May 6th">
            <option value="7" label="May 7th">
            <option value="8" label="May 8th">
            <option value="9" label="May 9th">
            <option value="10" label="May 10th">
            <option value="11" label="May 11th">
            <option value="12" label="May 12th">
            <option value="13" label="May 13th">
            <option value="14" label="May 14th">
            <option value="15" label="May 15th">
            <option value="16" label="May 16th">
            <option value="17" label="May 17th">
            <option value="18" label="May 18th">
            <option value="19" label="May 19th">
            <option value="20" label="May 20th">
            <option value="21" label="May 21st">
            <option value="22" label="May 22nd">
            <option value="23" label="May 23rd">
            <option value="24" label="May 24th">
            <option value="25" label="May 25th">
            <option value="26" label="May 26th">
            <option value="27" label="May 27th">
            <option value="28" label="May 28th">
            <option value="29" label="May 29th">
            <option value="30" label="May 30th">
            <option value="30" label="May 31st">
            
          </datalist>   

    </div>

