<div class="novemberCalendar">

          <!--input type="text" min="0" max="11" step="1" class=" novemberMonth"/-->
          <input type="range" list="novemberMonth" id="novemberMonth" class=" novemberMonth" name="thisNovember" min="86400000" max="2592000000" step="86400000" value="" />
          
          <label for=" novemberMonth"><span id="novTracker"></span></label>    
          <datalist id=" novemberList">
            <option value="1" label="November 1st">
            <option value="2" label="November 2nd">
            <option value="3" label="November 3rd">
            <option value="4" label="November 4th">
            <option value="5" label="November 5th">
            <option value="6" label="November 6th">
            <option value="7" label="November 7th">
            <option value="8" label="November 8th">
            <option value="9" label="November 9th">
            <option value="10" label="November 10th">
            <option value="11" label="November 11th">
            <option value="12" label="November 12th">
            <option value="13" label="November 13th">
            <option value="14" label="November 14th">
            <option value="15" label="November 15th">
            <option value="16" label="November 16th">
            <option value="17" label="November 17th">
            <option value="18" label="November 18th">
            <option value="19" label="November 19th">
            <option value="20" label="November 20th">
            <option value="21" label="November 21st">
            <option value="22" label="November 22nd">
            <option value="23" label="November 23rd">
            <option value="24" label="November 24th">
            <option value="25" label="November 25th">
            <option value="26" label="November 26th">
            <option value="27" label="November 27th">
            <option value="28" label="November 28th">
            <option value="29" label="November 29th">
            <option value="30" label="November 30th">

          </datalist>   

    </div>

