<div class="octoberCalendar">

          <!--input type="text" min="0" max="11" step="1" class=" octoberMonth"/-->
          <input type="range" list="octoberMonth" id="octoberMonth" class=" octoberMonth" name="thisOctober" min="86400000" max="2592000000" step="86400000" value="" />
          
          <label for=" octoberMonth"><span id="octTracker"></span></label>    
          <datalist id=" octoberList">
            <option value="1" label=" October 1st">
            <option value="2" label="October 2nd">
            <option value="3" label="October 3rd">
            <option value="4" label="October 4th">
            <option value="5" label="October 5th">
            <option value="6" label="October 6th">
            <option value="7" label="October 7th">
            <option value="8" label="October 8th">
            <option value="9" label="October 9th">
            <option value="10" label="October 10th">
            <option value="11" label="October 11th">
            <option value="12" label="October 12th">
            <option value="13" label="October 13th">
            <option value="14" label="October 14th">
            <option value="15" label="October 15th">
            <option value="16" label="October 16th">
            <option value="17" label="October 17th">
            <option value="18" label="October 18th">
            <option value="19" label="October 19th">
            <option value="20" label="October 20th">
            <option value="21" label="October 21st">
            <option value="22" label="October 22nd">
            <option value="23" label="October 23rd">
            <option value="24" label="October 24th">
            <option value="25" label="October 25th">
            <option value="26" label="October 26th">
            <option value="27" label="October 27th">
            <option value="28" label="October 28th">
            <option value="29" label="October 29th">
            <option value="30" label="October 30th">
            <option value="30" label="October 31st">
            
          </datalist>   

    </div>

