<div class="septemberCalendar">

          <!--input type="text" min="0" max="11" step="1" class=" septemberMonth"/-->
          <input type="range" list="septemberMonth" id="septemberMonth" class=" septemberMonth" name="thisSeptember" min="86400000" max="2592000000" step="86400000" value="" />
          
          <label for=" septemberMonth"><span id="sepTracker"></span></label>    
          <datalist id=" septemberList">
            <option value="1" label="September 1st">
            <option value="2" label="September 2nd">
            <option value="3" label="September 3rd">
            <option value="4" label="September 4th">
            <option value="5" label="September 5th">
            <option value="6" label="September 6th">
            <option value="7" label="September 7th">
            <option value="8" label="September 8th">
            <option value="9" label="September 9th">
            <option value="10" label="September 10th">
            <option value="11" label="September 11th">
            <option value="12" label="September 12th">
            <option value="13" label="September 13th">
            <option value="14" label="September 14th">
            <option value="15" label="September 15th">
            <option value="16" label="September 16th">
            <option value="17" label="September 17th">
            <option value="18" label="September 18th">
            <option value="19" label="September 19th">
            <option value="20" label="September 20th">
            <option value="21" label="September 21st">
            <option value="22" label="September 22nd">
            <option value="23" label="September 23rd">
            <option value="24" label="September 24th">
            <option value="25" label="September 25th">
            <option value="26" label="September 26th">
            <option value="27" label="September 27th">
            <option value="28" label="September 28th">
            <option value="29" label="September 29th">
            <option value="30" label="September 30th">
            <option value="30" label="September 31st">
            
          </datalist>   

    </div>

